@{
  ViewBag.Title = "Paul's Training Company";
}

<h1>ab_solute_hi_c</h1>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" href="/Product/Product">View Product List</a>
  </div>
</div>